<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default" *ngIf="!isLogedIn.isAuthenticating">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Scratch</a>
      
    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav pull-right">
        <li class="d-inline"><a routerLink="/signup" routerLinkActive="active">signup</a></li>
        <li class="d-inline"><a routerLink="/login" routerLinkActive="active" *ngIf="!isLogedIn.status">login</a></li>
        <li class="d-inline nav-logout"><a routerLink="/" routerLinkActive="active" *ngIf="isLogedIn.status" (click) ="isAuthenticated.AuthNLogout(); ">logout</a></li>
      </ul>
      <p>Loged In: {{isLogedIn.status}}</p> <!-- TODO: add username when the user is loged in -->
    </div>
    
  </div>
</nav>
<router-outlet></router-outlet>

